################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TipCalc/TipCalc.Droid/Resources/Resource.Designer.cs
